body {
  text-align: center;
  background-color: black;
  color: white;
  transition: background-color 100ms linear;
  font-family: Arial, Helvetica, sans-serif;
}

span#number {
  font-size: 15rem;
  -webkit-text-stroke: 4px black;
}